@model List<Model.EF.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="shoes-grid">
        <a href="single.html">
            <div class="wrap-in">
                <div class="wmuSlider example1 slide-grid">
                    <div class="wmuSliderWrapper">
                        <article style="position: absolute; width: 100%; opacity: 0;">
                            <div class="banner-matter">
                                <!-- <div class="col-md-5 banner-bag">
                                    <img class="img-responsive " src="/Assets/client/images/bag.jpg" alt=" " />
                                    </div>
                                    <div class="col-md-7 banner-off">
                                        <h2>FLAT 50% 0FF</h2>
                                        <label>FOR ALL PURCHASE <b>VALUE</b></label>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et </p>
                                        <span class="on-get">GET NOW</span>
                                    </div>

                                    <div class="clearfix"> </div> -->
                                <img src="/Assets/client/images/TV.png">
                            </div>

                        </article>
                        <article style="position: absolute; width: 100%; opacity: 0;">
                            <div class="banner-matter">
                                <!-- <div class="col-md-5 banner-bag">
                                    <img class="img-responsive " src="/Assets/client/images/bag1.jpg" alt=" " />
                                    </div>
                                    <div class="col-md-7 banner-off">
                                        <h2>FLAT 50% 0FF</h2>
                                        <label>FOR ALL PURCHASE <b>VALUE</b></label>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et </p>
                                        <span class="on-get">GET NOW</span>
                                    </div> -->
                                <img src="/Assets/client/images/TV2_banner.jpg">
                                <div class="clearfix"> </div>
                            </div>

                        </article>
                        <article style="position: absolute; width: 100%; opacity: 0;">
                            <div class="banner-matter">
                                <!-- <div class="col-md-5 banner-bag">
                                    <img class="img-responsive " src="/Assets/client/images/bag.jpg" alt=" " />
                                    </div>
                                    <div class="col-md-7 banner-off">
                                        <h2>FLAT 50% 0FF</h2>
                                        <label>FOR ALL PURCHASE <b>VALUE</b></label>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et </p>
                                        <span class="on-get">GET NOW</span>
                                    </div> -->
                                <img src="/Assets/client/images/TV3_banner.jpg">
                                <div class="clearfix"> </div>
                            </div>

                        </article>

                    </div>
        </a>
        <ul class="wmuSliderPagination">
            <li><a href="#" class="">0</a></li>
            <li><a href="#" class="">1</a></li>
            <li><a href="#" class="">2</a></li>
        </ul>
        <script src="/Assets/client/js/jquery.wmuSlider.js"></script>
        <script>
            $('.example1').wmuSlider();
        </script>
    </div>
</div>
    </a>
<!---->
<div class="shoes-grid-left">
    <a href="single.html">
        <div class="col-md-6 con-sed-grid">
            <!-- <div class=" elit-grid">

                <h4>consectetur  elit</h4>
                <label>FOR ALL PURCHASE VALUE</label>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
                <span class="on-get">GET NOW</span>
            </div>	 -->
            <img class="img-responsive shoe-left" src="/Assets/client/images/TV1.png" alt=" " />
            <img src="/Assets/client/images/Logo/Sony.png" style="padding-top: 3px;">
            <div style="font-size: 14px;color: #4a90e2;font-weight: 600;padding: 3px 15px 0 0 ;float: right;">Internet TV 40"</div>
            <span style="font-size: 18px;color: #c10017; height: 20px; float:  right;">10.900.000₫</span>
            <div class="clearfix"> </div>
        </div>
    </a>
    <a href="single.html">
        <div class="col-md-6 con-sed-grid">
            <!-- <div class=" elit-grid">

                <h4>consectetur  elit</h4>
                <label>FOR ALL PURCHASE VALUE</label>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
                <span class="on-get">GET NOW</span>
            </div>	 -->
            <img class="img-responsive shoe-left" src="/Assets/client/images/TV1.png" alt=" " />
            <img src="/Assets/client/images/Logo/Sony.png" style="padding-top: 3px;">
            <div style="font-size: 14px;color: #4a90e2;font-weight: 600;padding: 3px 15px 0 0 ;float: right;">Internet TV 40"</div>
            <span style="font-size: 18px;color: #c10017; height: 20px; float:  right;">10.900.000₫</span>
            <div class="clearfix"> </div>
        </div>
    </a>
    <a href="single.html">
        <div class="col-md-6 con-sed-grid">
            <!-- <div class=" elit-grid">

                <h4>consectetur  elit</h4>
                <label>FOR ALL PURCHASE VALUE</label>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
                <span class="on-get">GET NOW</span>
            </div>	 -->
            <img class="img-responsive shoe-left" src="/Assets/client/images/TV1.png" alt=" " />
            <img src="/Assets/client/images/Logo/Sony.png" style="padding-top: 3px;">
            <div style="font-size: 14px;color: #4a90e2;font-weight: 600;padding: 3px 15px 0 0 ;float: right;">Internet TV 40"</div>
            <span style="font-size: 18px;color: #c10017; height: 20px; float:  right;">10.900.000₫</span>
            <div class="clearfix"> </div>
        </div>
    </a>
</div>
<div class="products">
    <h5 class="latest-product">Điện thoại</h5>

    <!--<h5 style="padding-left: 50px;float: left;">
        <a href="#" style="text-decoration: none;font-size: 1em; color: #924617;">Iphone</a> &nbsp
        <a href="#" style="text-decoration: none;font-size: 1em; color: #924617;">Samsung</a> &nbsp
        <a href="#" style="text-decoration: none;font-size: 1em; color: #924617;">HTC</a> &nbsp
        <a href="#" style="text-decoration: none;font-size: 1em; color: #924617;">LG</a>
    </h5>-->

    <a class="view-all" href="product.html">Xem tất cả</a>
</div>
<div class="product-left">
    @foreach (var item in Model)
    {
        var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
        <div class="col-md-4 chain-grid">
            <a href="@url"><img class="img-responsive chain" src="@item.Image" alt=" " /></a>
            <span class="star"> </span>
            <div class="grid-chain-bottom">
                <h6><a href="@url" style="font-size: 15px;">Samsung Galaxy J7 Pro</a></h6>
                <div class="star-price">
                    <div class="dolor-grid">
                        <span style="font-size: 15px;color: #c10017; height: 20px;">7.900.000₫</span>
                    </div>
                    <button title="Thêm vào giỏ hàng" class="btn" onclick="return GetQuantityCartItem(@item.ID)"><span style="background: url(/Assets/client/images/img-sprite.png) -172px -28px;width: 26px;height: 26px;display: inline-block;vertical-align: middle; float: right;"></span></button>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    }
    <div class="clearfix"> </div>
    <!--/them-gio-hang?productid=***item.ID&quantity=1-->
</div>
<div class="products">
    <h5 class="latest-product">Sản phẩm mới</h5>
    <a class="view-all" href="product.html">Xem tất cả<span> </span></a>
</div>
<div class="product-left">
    <div class="col-md-4 chain-grid">
        <a href="single.html"><img style="height: 210px;" class="img-responsive chain" src="/Assets/client/images/New/New1.jpg" alt=" " /></a>
        <span class="star"> </span>
        <div class="grid-chain-bottom">
            <h6><a href="single.html" style="font-size: 15px;">Samsung Galaxy J7 Pro</a></h6>
            <div class="star-price">
                <div class="dolor-grid">
                    <span style="font-size: 15px;color: #c10017; height: 20px;">7.900.000₫</span>
                </div>
                <a href="#" title="Thêm vào giỏ hàng"><span style="background: url(/Assets/client/images/img-sprite.png) -172px -28px;width: 26px;height: 26px;display: inline-block;vertical-align: middle; float: right;"></span></a>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 chain-grid">
        <a href="single.html"><img class="img-responsive chain" src="/Assets/client/images/New/New2.jpg" alt=" " /></a>
        <span class="star"> </span>
        <div class="grid-chain-bottom">
            <h6><a href="single.html">Iphone 6 Plus</a></h6>
            <div class="star-price">
                <div class="dolor-grid">
                    <span style="font-size: 15px;color: #c10017; height: 20px;">7.900.000₫</span> </span>
                </div>
                <a href="#" title="Thêm vào giỏ hàng"><span style="background: url(/Assets/client/images/img-sprite.png) -172px -28px;width: 26px;height: 26px;display: inline-block;vertical-align: middle; float: right;"></span></a>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 chain-grid">
        <a href="single.html"><img class="img-responsive chain" src="/Assets/client/images/New/New3.png" alt=" " /></a>
        <span class="star"> </span>
        <div class="grid-chain-bottom">
            <h6><a href="single.html">Asus Zenfone 4 Max Pro</a></h6>
            <div class="star-price">
                <div class="dolor-grid">
                    <span style="font-size: 15px;color: #c10017; height: 20px;">7.900.000₫</span>
                </div>
                <a href="#" title="Thêm vào giỏ hàng"><span style="background: url(/Assets/client/images/img-sprite.png) -172px -28px;width: 26px;height: 26px;display: inline-block;vertical-align: middle; float: right;"></span></a>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 chain-grid">
        <a href="single.html"><img class="img-responsive chain" src="/Assets/client/images/New/New4.png" alt=" " /></a>
        <span class="star"> </span>
        <div class="grid-chain-bottom">
            <h6><a href="single.html">Asus Zenfone 4 Max Pro</a></h6>
            <div class="star-price">
                <div class="dolor-grid">
                    <span style="font-size: 15px;color: #c10017; height: 20px;">7.900.000₫</span>
                </div>
                <a href="#" title="Thêm vào giỏ hàng"><span style="background: url(/Assets/client/images/img-sprite.png) -172px -28px;width: 26px;height: 26px;display: inline-block;vertical-align: middle; float: right;"></span></a>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>

    <div class="clearfix"> </div>
</div>
<div class="clearfix"> </div>
    </div>
<div class="sub-cate">
    @{ Html.RenderAction("LeftMenu", "Home");}
    <!--initiate accordion-->
    <script type="text/javascript">
        function GetQuantityCartItem(productid) {
            $.ajax({
                url: '/Cart/Add_Item/' + productid,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    alert('Thêm vào giỏ hàng thành công');
                }
            });
        }

        var menu_ul = $('.menu > li > ul'),
               menu_a = $('.menu > li > a');
        menu_ul.hide();
        menu_a.click(function (e) {
            e.preventDefault();
            var link = $(this).attr('href');
            if (link != '#') {
                window.location.href = link;
            }
            else if (!$(this).hasClass('active')) {
                menu_a.removeClass('active');
                menu_ul.filter(':visible').slideUp('normal');
                $(this).addClass('active').next().stop(true, true).slideDown('normal');
            }
            else {
                $(this).removeClass('active');
                $(this).next().stop(true, true).slideUp('normal');
            }
        });
    </script>
    <div class=" chain-grid menu-chain">
        <a href="single.html"><img class="img-responsive " src="/Assets/client/images/Hot.png" alt=" " /></a>
    </div>
    <a class="view-all all-product" href="product.html">Xem tất cả sản phẩm<span> </span></a>
</div>
<div class="clearfix"> </div>
    </div>


