@model List<Model.EF.ProductCategory>
@using Model.EF
@{
    List<ProductCategorySmall> LiSmall = ViewBag.LiSmall;
}
<div class=" top-nav rsidebar span_1_of_left">
    <h3 class="cate">Danh mục sản phẩm</h3>
    <ul class="menu">
        @foreach (var item in Model)
        {
            if (item.DisplayOrder == 1)
            {
                <li class="item1">
                    <a href="#">@item.Name<img class="arrow-img" src="/Assets/client/images/arrow1.png" alt="" /> </a>
                    <ul class="cute">
                        @foreach (var s_item in LiSmall)
                        {
                            if (s_item.ProductCategoryID == item.ID)
                            {
                                <li class="subitem1"><a href="/san-pham/@item.MetaTitle-@s_item.MetaTitle-@item.ID-@s_item.ID">@s_item.Name</a></li>
                            }
                        }
                    </ul>
                </li>
            }
            else
            {
                <li><a href="/san-pham/@item.MetaTitle-@item.ID-0">@item.Name</a></li>
            }
        }
    </ul>

</div>

