
@{
    ViewBag.Title = "PersonalInformation";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section jsIndex{
    @*<script type="text/javascript">
            $('.row-info > a').hover(function () {
                $('.row-info').css({ "background-color": "red" });
            }, function () {
                $('.row-info').css({ "background-color": "#ffffff" });
            })
        </script>*@
    <script type="text/javascript">
        var check = 0;
        $('.test').hover(function () {
            $(this).children("div").css({ "background-color": "#eee" });
        }, function () {
            $(this).children("div").css({ "background-color": "#ffffff" });
        })

        $('.test').click(function (e) {
            if (check == 0) {
                $(this).children("div").children("#Edit_User_Name").slideDown("slow");
            }
            else {
                check = 0;
            }
        })

        $('.btn_cancel').click(function (e) {
            $('#Edit_User_Name').slideUp("slow");
            check = 1;
        })
    </script>
}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Thông tin cá nhân</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <a role="button" class="test">
            <div class="col-lg-12 row-info">
                <span class="col-lg-3 s_title">Tên đăng nhập</span>
                <span class="col-lg-7 s_content">Đây là phần giá trị của tên đăng nhập</span>
                <span class="col-lg-2"><i class="fa fa-pencil"></i> Chỉnh sửa</span>
                <div id="Edit_User_Name" hidden>
                    <div class="col-lg-12 e_row">
                        <div class="col-lg-5">
                            <span>Tên đăng nhập</span>
                        </div>
                        <div class="col-lg-3">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-lg-12 e_row">
                        <span class="btn btn-primary btn_update">Cập nhật</span>
                        <span class="btn btn-default btn_cancel">Hủy</span>
                    </div>
                </div>
            </div>
        </a>

        <a role="button" class="test">
            <div class="col-lg-12 row-info">
                <span class="col-lg-3 s_title">Tên đăng nhập</span>
                <span class="col-lg-7 s_content">Đây là phần giá trị của tên đăng nhập</span>
                <span class="col-lg-2"><i class="fa fa-pencil"></i> Chỉnh sửa</span>
            </div>
        </a>
        <a role="button" class="test">
            <div class="col-lg-12 row-info">
                <span class="col-lg-3 s_title">Tên đăng nhập</span>
                <span class="col-lg-7 s_content">Đây là phần giá trị của tên đăng nhập</span>
                <span class="col-lg-2"><i class="fa fa-pencil"></i> Chỉnh sửa</span>
            </div>
        </a>
        <a role="button" class="test">
            <div class="col-lg-12 row-info">
                <span class="col-lg-3 s_title">Tên đăng nhập</span>
                <span class="col-lg-7 s_content">Đây là phần giá trị của tên đăng nhập</span>
                <span class="col-lg-2"><i class="fa fa-pencil"></i> Chỉnh sửa</span>
            </div>
        </a>
    </div>
</div>