<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search/Assets/admin.">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="/Admin/Home/Index"><i class="fa fa-home fa-fw"></i> Trang chủ</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-desktop fa-fw"></i> Sản phẩm<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/Admin/Product/Category">Danh mục sản phẩm</a>
                    </li>
                    <li>
                        <a href="/Admin/Product/Index">Chi tiết sản phẩm</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="/Admin/User/Index"><i class="fa fa-user fa-fw"></i> Người dùng</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-gear fa-fw"></i> Quản lý chung<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/Admin/Setting/About">Giới thiệu</a>
                    </li>
                    <li>
                        <a href="/Admin/Setting/Menu">Menu</a>
                    </li>
                    <li>
                        <a href="/Admin/Setting/Slide">Slide</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Thông kê<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/Admin/Product/HotProduct">Sản phẩm bán chạy nhất</a>
                    </li>
                    <li>
                        <a href="/Admin/Product/Revenue">Doanh thu</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
